<div class="row my-4">
  <div *ngFor="let product of products" class="col-lg-4">
    <div class="card my-2">
      <img class="card-img-top" src=".../100px180/" alt="Card image cap">
      <div class="card-body">
        <h6 class="card-title">{{product.name}}</h6>
        <h5 class="card-title">$ {{product.price}}</h5>
        <p class="card-text">{{product.desc}}</p>
      </div>
      <div class="container">
        <app-ratings [score]="product.rating"></app-ratings>
      </div>
    </div>

  </div>
</div>
