<div class="row my-4">
  <div class="col-12">
    <form>
      <div class="form-group">
        <input type="text" [formControl]="searchForm" class="form-control" placeholder="Search Product Here">
      </div>
    </form>
  </div>
  <div *ngFor="let product of products | searchfilter:keyWord:'name'" class=" col-lg-4">
    <div class="card my-2">
      <img class="card-img-top" src=".../100px180/" alt="Card image cap">
      <div class="card-body">
        <h6 class="card-title"><a [routerLink]="['/product',product.id]">{{product.name}}</a></h6>
        <h5 class="card-title">$ {{product.price}}</h5>
        <p class="card-text">{{product.desc}}</p>
      </div>
      <div class="container">
        <app-ratings [score]="product.rating"></app-ratings>
      </div>
    </div>
  </div>
</div>
