/* You can add global styles to this file, and also import other style files */
body {
  padding-top: 70px;
}

.pageerror {
  width: 100%;
  height: 80vh;
  line-height: 80vh;
  text-align: center;
  background: lightblue;
}
